
body {
  font-family: helvetica, sans-serif;
  color: #0489a9;
}
img {
  margin: 0px 0px 0px 0px;
}
.jumbotron {
  background-color: transparent !important;
}
/* this is the menu - top, logo, fixed on top */
.top	{
position: fixed;
z-index: 5000;
background: #ffffff;
width: 100%;
top: 0px;
}
.logo {
    padding: 0 0 0 20px;
    width: 100px;
    height: 100px;
}
.mainMenu ul {
    float: right;
    padding-left: 0;
    margin-bottom: 0;
    line-height: 60px;
}
.mainMenu li {
    list-style-type: none;
    display: inline-block;
}
.mainMenu li a {
    display: block;
    text-transform: uppercase;
}
#top-menu {
    background: #ffffff;
}
#top-menu ul {
  float: right;
}
#top-menu li {
    float: left;
    line-height: 60px;
    display: inline-block;
}
#top-menu a {
    display: block;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    transition: 1s all ease;
    color: #0489a9;
    text-decoration: none;
    font-size: 14px;
}
#top-menu a:hover {
    color: #ffffff;
    background: #8a6bb9;
}
#top-menu li.active a {
    color: #ffffff;
    background: #72b842;
    line-height: 60px;
    font-size: 14px;
}

/* menu ends here */
.container2{
    background-image: url("../img/4701213993_5ea81764ff_b.jpg");
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.h1box {
    border-style: groove;
    border-color: #0489a9;
    border-width: 2px;
    background: #0489a9;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.75;
    width: 50%;
    height: 100px;
}
h1 {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  height: 10%;
  width:100%;
  vertical-align:middle;
  text-align: middle;
  margin: auto;
  line-height: 100px;
}
.about-content {
  background-color:#ffffff;
}
#carolyn {
color: #0489a9;
}
#vi {
  color: #8a6bb9;
}
marquee {
  color: #8a6bb9;
  font-style: bold;
  font-size: 20px;
}
.about-content p {
  padding: 5px;
  margin: 5px;
  font-size: 18px;
}
.about-content h2 {
  padding: 5px;
  margin: 5px;
}
.about-img-bg {
  padding: 20px 20px 20px 20px;
  float: right;
}
.about-img {
  width: 490px;
}
#social .link{
  padding: 15px;
  font-size: 40px;
  display: inline-block;
}
#Carousel img {
  width: 60%;
  height: 500px;
}
.carousel-inner img {
  margin:auto;
}
#share-buttons img {
 width: 50px;
 padding: 5px;
}
