
body {
  font-family: helvetica, sans-serif;
  color: #0489a9;
}
img {
  margin: 0px 0px 0px 0px;
}
.container1 {
  top: 28px;
  right: 20px;
  padding: 25px 25px 25px 25px;
  position:fixed;
  width: 45%;
}
.navbar {
    background-color: #ffffff;
    overflow: hidden;
    position: absolute;
    top: 28px;
    right: 20px;
}
.navbar a {
    color: #0489a9;
    text-align: center;
    padding: 25px 25px 25px 25px;
    font-size: 18px;
    font-weight: bold;
}
.navbar a:hover {
    background-color: #fff209;
    color: #8a6bb9;
    font-style: italic;
}
.container2{
    background-image: url("../img/can-cats-eat-dog-food-header.jpg");
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.h1box {
    border-style: groove;
    border-color: #0489a9;
    border-width: 2px;
    background: #0489a9;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.75;
    width: 50%;
    height: 100px;
}
h1 {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  height: 10%;
  width:100%;
  vertical-align:middle;
  text-align: middle;
  margin: auto;
  line-height: 100px;
}
.about-content {
  background-color:#ffffff;
}
#carolyn {
color: #0489a9;
}
#vi {
  color: #8a6bb9;
}
marquee {
  color: #8a6bb9;
  font-style: bold;
  font-size: 20px;
}
.about-content p {
  padding: 5px;
  margin: 5px;
  font-size: 18px;
}
.about-content h2 {
  padding: 5px;
  margin: 5px;
}
.about-img-bg {
  padding: 20px 20px 20px 20px;
  float: right;
}
.about-img {
  width: 490px;
}
#social .link{
  padding: 15px;
  font-size: 40px;
  display: inline-block;
}

/* all the li code is from http://matthamm.com/box-shadow-curl.html * and https://codepen.io/bsmith/pen/bfqJc */
li {
  background-color: #teal;
  padding: 10px;
}
ul.box1, ul.box2 {
position: relative;
width: fixed;
z-index: 1; /* prevent shadows falling behind containers with backgrounds */
overflow: hidden;
list-style: none;
margin: 0;
padding: 0;
}
ul.box1 li, ul.box2 li {
position: relative;
float: left;
margin: 0 30px 30px 0;
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}
ul.box1 li:before,
ul.box1 li:after,
ul.box2 li:after,
ul.box2 li:before, {
content: '';
z-index: -1;
position: absolute;
left: 10px;
bottom: 10px;
width: 70%;
max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
max-height: 100px;
height: 55%;
-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
-webkit-transform: skew(-15deg) rotate(-6deg);
-moz-transform: skew(-15deg) rotate(-6deg);
-ms-transform: skew(-15deg) rotate(-6deg);
-o-transform: skew(-15deg) rotate(-6deg);
transform: skew(-15deg) rotate(-6deg);
}
ul.box1 li:after,
ul.box2 li:after {
left: auto;
right: 10px;
-webkit-transform: skew(15deg) rotate(6deg);
-moz-transform: skew(15deg) rotate(6deg);
-ms-transform: skew(15deg) rotate(6deg);
-o-transform: skew(15deg) rotate(6deg);
transform: skew(15deg) rotate(6deg);
}
.footer {
    position: relative;
    text-align: center;
    margin-left: 350px;
    margin-right: 350px;
}
