*body {
  font-family: "helvetica", sans-serif;
}
img {
  margin: 0px 0px 0px 0px;
}
.jumbotron {
  background-color: transparent !important;
}
/* this is the menu - top, logo, fixed on top */
.top	{
position: fixed;
z-index: 5000;
background: #ffffff;
width: 100%;
top: 0px;
}
.logo {
    padding: 0 0 0 20px;
    width: 100px;
    height: 100px;
}
.mainMenu ul {
    float: right;
    padding-left: 0;
    margin-bottom: 0;
    line-height: 60px;
}
.mainMenu li {
    list-style-type: none;
    display: inline-block;
}
.mainMenu li a {
    display: block;
    text-transform: uppercase;
}
#top-menu {
    background: #ffffff;
}
#top-menu ul {
  float: right;
}
#top-menu li {
    float: left;
    line-height: 60px;
    display: inline-block;
}
#top-menu a {
    display: block;
    -webkit-transition: 1s all ease;
    -moz-transition: 1s all ease;
    transition: 1s all ease;
    color: #0489a9;
    text-decoration: none;
    font-size: 14px;
}
#top-menu a:hover {
    color: #ffffff;
    background: #8a6bb9;
}
#top-menu li.active a {
    color: #ffffff;
    background: #72b842;
    line-height: 60px;
    font-size: 14px;
}

/* menu ends here */
.container2 {
  background-image: url("../img/4701213993_5ea81764ff_b.jpg");
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 65px;
}
#carolynfollow {
  left: 5px;
  top: 75px;
  opacity: 0.85;
}
#violetafollow {
  right: 5px;
  top: 75px;
  opacity: 0.85;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 15px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}
#share-buttons img {
 width: 50px;
 padding: 5px;
}
