body {
  font-family: 'helvetica', sans-serif;
}
img {
  margin: 0px 0px 0px 0px;
}
.jumbotron {
  background-color: transparent !important;
}

/* this is the menu - top, logo, fixed on top */
.top	{
  position: fixed;
  z-index: 5000;
  background: #ffffff;
  width: 100%;
  top: 0px;
}
.logo {
  padding: 0 0 0 20px;
  width: 100px;
  height: 100px;
}
.mainMenu ul {
  float: right;
  padding-left: 0;
  margin-bottom: 0;
  line-height: 60px;
}
.mainMenu li {
  list-style-type: none;
  display: inline-block;
}
.mainMenu li a {
  display: block;
  text-transform: uppercase;
}
#top-menu {
  background: #ffffff;
}
#top-menu ul {
  float: right;
}
#top-menu li {
  float: left;
  line-height: 60px;
  display: inline-block;
}
#top-menu a {
  display: block;
  -webkit-transition: 1s all ease;
  -moz-transition: 1s all ease;
  transition: 1s all ease;
  color: #0489a9;
  text-decoration: none;
  font-size: 14px;
}
#top-menu a:hover {
  color: #ffffff;
  background: #8a6bb9;
}
#top-menu li.active a {
  color: #ffffff;
  background: #72b842;
  line-height: 60px;
  font-size: 14px;
}

/* menu ends here */

/* main image starts here - will it work on IE? Doesn't seem to like the laptop browsers... Ask one of the guys */
.container2{
  background-image: url("../img/4701213993_5ea81764ff_b.jpg");
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 65px;
}
.titleholder {
  height: 100%
}
#titleholderbox1 {
  height: 260px;
}
#titleholderbox2 {
  height: 10px;
}
.h1box {
  position: absolute;
  border-style: groove;
  border-color: #0489a9;
  border-width: 2px;
  background: #0489a9;
  text-align: center;
  color: white;
  opacity: 0.75;
}
h1 {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  height: 20%;
  width:100%;
  vertical-align:middle;
  text-align: middle;
  margin: 10px auto;
  line-height: 100px;
}
.underh1 {
  border-style:groove;
  border-color: #8a6bb9;
  border-width: 1px;
  background: #8a6bb9;
  text-align: center;
  color: white;
  width: 50%;
  min-height: 100px;
  font-size: 20px;
  opacity: 0.75;
}
#titletext  {
  width: 100%;
  font-weight: bold;
}

/* purple box! */
.familypics {
  background: #8a6bb9;
}
* {
  box-sizing: border-box;
}
.fam1 {
  float: left;
  width: 33.33%;
  padding: 1px;
}
/* Clearfix (clear floats) */
.familypics::after {
  content: "";
  clear: both;
  display: table;
}
#fam1 {
  background: #8a6bb9;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  width:100%;
  vertical-align:middle;
  text-align: middle;
  margin: auto;
  line-height: 100px;
  padding: 5px 5px 5px 5px;
  position: relative;
  top: 65px;
}

/* this is the overlay */
.img-box {
  position: relative;
  width: 50%;
}

.img-box img {
  display: block;
  width: 100%;
  height: auto;
}

.img-box:hover > .overlay {
  opacity: 0.7;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0489a9;
}

.text {
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/* overlay ends here */

* {
  box-sizing: border-box;
}
#familyvids::after {
  content: "";
  clear: both;
  display: block;
}
#familyvids {
  background: #0489a9;
}
#familyvids video {
  max-width: 100%;
}
#fam2 {
  background: #0489a9;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  height: 10%;
  width:100%;
  vertical-align:middle;
  text-align: middle;
  margin: auto;
  line-height: 100px;
  padding: 5px 5px 5px 5px;
  top: 65px;
  position: relative;
}
.hr {
  width: 80%;
  height: 8px;
  margin-left: 50%;
  margin-right: 50%;
  margin-top: inherit;
  background-color:#fff209;
  color:#fff209;
  border: 0 none;
}
#fam3 {
  background: #ffffff;
  color: #8a6bb9;
  text-align: center;
  height: 10%;
  width:100%;
  vertical-align: middle;
  line-height: 30px;
  top: 65px;
  padding: 5px 5px 5px 5px;
}
#row {
  border-bottom: 1px groove #8a6bb9;
  padding-bottom: 5px;
  margin-left: 10px;
}
#volume {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  text-align: justify;
}
#share-buttons img {
  width: 50px;
  padding: 5px;
}
