
body {
  font-family: helvetica, sans-serif;
  color: #0489a9;
}

.navbar {
    background-color: #ffffff;
    overflow: hidden;
    position: absolute;
    top: 28px;
    right: 20px;
}
.navbar a {
    color: #0489a9;
    text-align: center;
    padding: 25px 25px 25px 25px;
    font-size: 18px;
    font-weight: bold;
}
.navbar a:hover {
    background-color: #fff209;
    color: #8a6bb9;
    font-style: italic;
}

.table {
  font-size: 16px;
}
.hvrbox .hvrbox-layer_slideup {
	-moz-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
}
.hvrbox:hover .hvrbox-layer_slideup,
.hvrbox.active .hvrbox-layer_slideup {
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
