body {
  font-family: 'helvetica', sans-serif;
}
img {
  margin: 0px 0px 0px 0px;
}
.container1 {
  top: 28px;
  right: 20px;
  padding: 25px 25px 25px 25px;
  position:fixed;
  width: 45%;
}
.navbar {
    background-color: #ffffff;
    overflow: hidden;
    position: absolute;
    top: 28px;
    right: 20px;
}
.navbar a {
    color: #0489a9;
    text-align: center;
    padding: 25px 25px 25px 25px;
    font-size: 18px;
    font-weight: bold;
}
.navbar a:hover {
    background-color: #fff209;
    color: #8a6bb9;
    font-style: italic;
}
.container2{
    background-image: url("can-cats-eat-dog-food-header.jpg");
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.h1box {
    border-style: groove;
    border-color: #0489a9;
    border-width: 2px;
    background: #0489a9;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0.75;
    width: 50%;
    height: 100px;
}
h1 {
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  height: 10%;
  width:100%;
  vertical-align:middle;
  text-align: middle;
  margin: auto;
  line-height: 100px;
}
.underh1 {
  border-style:groove;
  border-color: #8a6bb9;
  border-width: 1px;
  background: #8a6bb9;
  text-align: center;
  position: absolute;
  transform: translate(-20%, -30%);
  top: 60%;
  left: 35%;
  color: white;
  width: 50%;
  height: 140px;
  font-size: 25px;
  opacity: 0.75;
}
.familypics{
  background: #8a6bb9;
}
* {
    box-sizing: border-box;
}

.fam {
    float: left;
    width: 33.33%;
    padding: 1px;
  }

/* Clearfix (clear floats) */
.familypics::after {
    content: "";
    clear: both;
    display: table;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 300px) {
    .column {
        width: 100%;
    }
}
#fam1 {
  background: #8a6bb9;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  height: 10%;
  width:100%;
  vertical-align:middle;
  text-align: middle;
  margin: auto;
  line-height: 100px;
  padding: 5px 5px 5px 5px;
}
* {
    box-sizing: border-box;
}
.famvid {
    float: left;
    width: 33.33%;
    padding: 1px;
}
#familyvids::after {
    content: "";
    clear: both;
    display: table;
}
@media sThe UK's leadcreen and (max-width: 300px) {
    .column {
        width: 100%;
    }
  }
  #familyvids {
    background:#0489a9;
  }
#fam2 {
  background: #0489a9;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  height: 10%;
  width:100%;
  vertical-align:middle;
  text-align: middle;
  margin: auto;
  line-height: 100px;
  padding: 5px 5px 5px 5px;
}
.hr {
  width: 80%;
  height: 8px;
  margin-left: 50%;
  margin-right: 50%;
  background-color:#fff209;
  color:#fff209;
  border: 0 none;
 }
 #fam3 {
   background: #ffffff;
   color: #8a6bb9;
   font-size: 30px;
   text-align: center;
   height: 10%;
   width:100%;
   vertical-align:middle;
   text-align: middle;
   margin: auto;
   line-height: 120px;
   padding: 5px 5px 5px 5px;
 }
.footer {
    margin-left: 350px;
    margin-right: 350px;
}
